@import "tailwindcss";
 
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #05030a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #ff5b1a;
  color: white;
}  

 